
@{
    Layout = "_Layout";
}
@section Subtitle{
    @RenderSection("Subtitle")
}


<div class="container">
   
    <h1>@RenderSection("Icon",false)@ViewData["Title"]</h1>
    <hr/>

    <div class="row">
        <div class="col-5 ">
            @RenderBody()
        </div>

        <div class="col-5 offset-1">
            <h2>说明</h2>
            @RenderSection("Description")
        </div>

    </div>

</div>