@page
@model IndexModel
@section Subtitle{
    Index主页
}

@if (Request.Method == "POST")
{
    <p>@Model.NewUser.Name 注册成功！</p>
}

@*@if (ViewData["UserName"]!=null)
    {
    <p>@ViewData["UserName"]</p>
    }*@
<form method="post" asp-page="/Index">
    <label>用户名</label>
    <input placeholder="....." asp-for="NewUser.Name" />
    <br />
    <label>密码</label>
    <input placeholder="....." asp-for="NewUser.Password">
    <br />
    <br />
    <br />
    @*<input asp-for="" />*@

    <a asp-page="/Article/Single" asp-route-id="8">文章</a>
    <pager path="/Index" pageIndex="3">第3页</pager>
    <br />
    <br />
    <br />

    <label>性别</label>
    <input type="radio" asp-for="NewUser.IsMale" value="true">男
    <input type="radio" asp-for="NewUser.IsMale" value="false">女
    <br />

    <input asp-for="RememberMe">RememberMe
    <br />
    <br />
    <br />

    <select asp-for="BirthMonths" asp-items="Model.AvailableMonths"></select>
    <select asp-for="BirthMonths" asp-items="Html.GetEnumSelectList(typeof(DayOfWeek))"></select>
    <br />
    <br />
    <textarea asp-for="NewUser.Introduction"></textarea>
    <br />
    <button type="submit">提交</button>


</form>
<datetime asp-showicon="true" asp-only="date">@DateTime.Now</datetime>
<vc:_keywords></vc:_keywords>
