@page
@model RazorPages.Pages.RegisterModel
@{
    Layout = "Layout/_Dual";
    ViewData["Title"] = "注册";
}
@section Subtitle{
    注册
}

<form method="post" asp-page="/Register">
    <div style="padding:10px 20px;border:2px dashed;background-color:lightyellow">
        <div class="text-right" style="padding-top:10px;">
            <a href="/"><span class="fa fa-question-circle"></span> 为什么需要邀请</a>
        </div>
        <div>
            <label>邀请人：（* 必填，<a href="/" class="text-info">没有邀请人</a>）</label>
            <input asp-for="NewUser.InvitedBy.Name" class="form-control" placeholder="他的用户名，模糊查询只能从头开始">
        </div>
        <div>
            <label>邀请码：（* 必填）</label>
            <input asp-for="NewUser.InvitedBy.InviteCode" class="form-control" placeholder="4位数字">
        </div>
    </div>
    <div>
        <label>用户名：（* 必填）</label>
        <input asp-for="NewUser.Name" class="form-control"placeholder="登录用户名，可修改，不能重复" />
    </div>
    <div>
        <label>密码：（* 必填）</label>
        <input asp-for="NewUser.Password" class="form-control"placeholder="不少于4个字符" />
    </div>
    <div>
        <label>验证密码：（* 必填）</label>
        <input asp-for="VerifyPassword" class="form-control"placeholder="和密码相同" />
    </div>
    <div>
        <label>QQ:(*必填)</label>
        <input asp-for="QQ"class="form-control">
        <span asp-validation-for="QQ"></span>


    </div>
    <div style="margin-top:5px">
        <input type="submit" value="提交" class="btn btn-primary" />
        <input type="reset" value="重填" class="btn btn-light" />
    </div>

</form>



@section Description{
    <ol>
        <li>我们希望通过一起帮，能直接解决大家在电脑操作/软件使用/编程学习等方面的具体问题。</li>
        <li>现在互联网远程技术（比如QQ桌面共享）已经非常成熟，当我们再遇到上述问题，如果别人能直接远程给予帮助，岂不是好？</li>
        <li>当然，你也可以在你熟悉的领域去帮助别人。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。</li>
        <li>公平起见，我们还引入了 帮帮点/币/豆 三级概念，以记录和衡量社区成员的收获和贡献。</li>
        <li>赶快加入我们，赚取帮帮币吧！</li>
        <li> 了解更多</li>
    </ol>

}